{
  "arrowParens": "always",
  "trailingComma": "all",
  "semi": false,
  "printWidth": 100,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "proseWrap": "always",
  "plugins": ["prettier-plugin-svelte"]
}
